.loader{
    display: flex;
    position: absolute;
    background-color: white;
    margin-left: 80px;
    width: 150%;
    height: 150%;
    z-index: 6;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-left: 300px;
    margin-top: 150px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 200px;
    height: 200px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid red;
    border-color: red transparent red transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.loader-txt{
    margin-left: 80px;
}