.user-weight-cal{
    display: flex;
    flex-direction: column;
    width: 630px;
    height: 240px;    
    padding-bottom: 50px;
    background-color: #FBFBFB;
    border-radius: 5px;
}

.bar-kg{
    border-radius: 50px;
}

.bar-cal{
    border-radius: 50px;
}

.weightCal-chart-tooltip{
    display: flex;
    height: 45px;
    width: 39px;
    background-color: red;
    color: white;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 9px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 15px 5px;
}



.weight-cal-legend{
    color: black;
}

.recharts-rectangle.recharts-tooltip-cursor{
 fill: rgba(196, 196, 196, 0.5);   
}


