.user-consume{
    display: flex;
    flex-direction: column;
    margin-top: 198px;
    margin-right: 10px;
    height: 515px;
    flex-wrap: nowrap;
    place-content: space-between;
}

.user-consume-component{
    display: flex;
    background-color: #FBFBFB;
    border-radius: 5px;
    height: 62px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 16px;
}

.user-consume-img{
    width: 60px;
    height: 60px;
}

.user-consume-txt{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 17px;
}

.user-consume-num{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    position: relative;
    top: -12px;
}

.user-consume-name{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    top: -47px;
}