.user-score{
    width: 200px; 
    height: 210px; 
    background-color: #FBFBFB;
    border-radius: 5px;
}

.score-txt-container{
    z-index: 1;
    position: absolute;
    margin-top: -17px;
    padding-left: 154px;
    display: flex;
    flex-direction: column;
}

.user-score-chart {
    margin-top: 25px;
    margin-left: -31px;
}

.score-title{
    font-weight: 500;
    font-size: 15px;
    color: #20253A;
    text-align: start;
    margin-bottom: -90px;
    padding-top: 20px;
    padding-left: 20px;

}

.score-percentage{
    z-index: 1;
    font-weight: 700;
    font-size: 24px;
    color: #282D30;
    margin-top: -93px;
    margin-left: -107px;
}

.score-txt{
    z-index: 1;
    font-weight: 700;
    font-size: 17px;
    color: #74798C;
    margin-top: -23px;
    margin-left: -110px;
}

.txt-background{
    z-index: 0;
    background-color: white;
    position: absolute;
    margin-left: -112px;
    margin-top: -120px;
    border-radius: 50%;
    width: 114px;
    height: 114px;
}